<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <h2>LATEST BLOG</h2>
                   <partial name="Partials/_Blog" />
                </div>
            </div>
        </div>
    </div>
</section>
