<div class="aa-sidebar-widget">
    <h3>Category</h3>
    <ul class="aa-catg-nav">
        <li><a href="#">Men</a></li>
        <li><a href="">Women</a></li>
        <li><a href="">Kids</a></li>
        <li><a href="">Electornics</a></li>
        <li><a href="">Sports</a></li>
    </ul>
</div>