




@model  WebApp_.Models.SigninInput

 <!-- Cart view section -->
 <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
              <div class="col-md-6">
                <div class="aa-myaccount-login">
                <h4>Login</h4>
                 <div class="text-danger" asp-validation-summary="ModelOnly"></div>
              <form asp-controller="Auth" asp-action="SignIn" method="post">
                  <label asp-for="Email"> Email address<span>*</span></label>
                    <input class="form-control" type="email" value="huseyn@gmail.com" asp-for="Email">
                   <span class="text-danger" asp-validation-for="Email"></span>

                       <label asp-for="Password" for="exampleInputPassword1" class="form-label"></label>
                       <input type="password" value="User@1234" asp-for="Password" class="form-control" id="exampleInputPassword1">
                       <span class="text-danger" asp-validation-for="Password"></span>
                <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="exampleCheck1">
                <label asp-for="RememberMe" class="form-check-label" for="exampleCheck1"></label>
                    <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
                     <button type="submit" class="aa-browse-btn">Login</button>  
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="aa-myaccount-register">                 
                 <h4>Register</h4>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <form asp-controller="Auth" asp-action="Register" method="post">
                        <label asp-for="Email"> Email address<span>*</span></label>
                         <input type="email" class="form-control" value="huseyn@gmail.com" asp-for="Email">
                        <span class="text-danger" asp-validation-for="Email"></span>

                        <label asp-for="Password" for="exampleInputPassword1" class="form-label"></label>
                        <input type="password" value="User@1234" asp-for="Password" class="form-control" id="exampleInputPassword2">
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="exampleCheck1">
                        <label asp-for="RememberMe" class="form-check-label" for="exampleCheck1"></label>
                        <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
                         <button type="submit" class="aa-browse-btn">Register</button>  
                    </form>
                </div>
              </div>
            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->